@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-list a, .nav-list a svg{
  padding: .5rem 1rem;
}
.nav-list.active a{
  color: aquamarine;
}

.card{
  background-color: #32323a;
}

.card-content a{
  padding-top: 16px;
  color: slategray;
}
.card-content a:hover{
  color: blue;
}
